<section class="brand-area">
    <div class="container">
        <div class="brand-carousel owl-carousel owl-theme">
            <div class="item">
                <img src="img/brands/logo1.png" alt="Awesome Image"/>
            </div><!-- /.item -->
            <div class="item">
                <img src="img/brands/logo2.png" alt="Awesome Image"/>
            </div><!-- /.item -->
            <div class="item">
                <img src="img/brands/logo3.png" alt="Awesome Image"/>
            </div><!-- /.item -->

        </div><!-- /.brand-carousel -->
    </div><!-- /.container -->
</section><!-- /.brand-area -->