<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget about-widget">
                    <a href="#" class="footer-logo"><img src="img/logo-footer.jpg" alt="Awesome Image"/></a>
                    <p>Sparta 3.8 Protection, Inc. is a Certified Service-Disabled Veteran-Owned Small Business. Owned and operated by a 15-year special operations combat veteran with a vast knowledge of security, ranging from executive protection, diplomatic security, and surveillance to firearms training, advanced medical training, and close-quarters combat. </p>
                </div><!-- /.footer-widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="footer-widget link-widget">
                    <div class="title">
                        <h3>Services</h3>
                    </div><!-- /.title -->
                    <ul class="link-list">
                        <li><a href="#">News & Tips</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Our Shop</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul><!-- /.link-list -->
                </div><!-- /.footer-widget -->
            </div><!-- /.col-md-2 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer-widget social-widget">
                    <div class="title">
                        <h3>Follow Us</h3>
                    </div><!-- /.title -->
                    <ul class="social list-inline">
                        <li><a href="#" class="fa fa-facebook"></a></li><!--
						-->
                        <li><a href="#" class="fa fa-twitter"></a></li><!--
						-->
                        <li><a href="#" class="fa fa-vimeo"></a></li><!--
						-->
                        <li><a href="#" class="fa fa-google-plus"></a></li><!--
						-->
                        <li><a href="#" class="fa fa-linkedin"></a></li><!--
						-->
                        <li><a href="#" class="fa fa-youtube"></a></li>
                    </ul><!-- /.social list-inline -->
                </div><!-- /.footer-widget -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget newsletter-widget">
                    <div class="title">
                        <h3>Newsletter</h3>
                    </div><!-- /.title -->
                    <form action="#" class="newsletter-form">
                        <p>Excepteur sint occaecat cupidatat proident sunt.</p>
                        <input type="text" placeholder="Your Email"/>
                        <button type="submit" class="thm-btn">Sign Up</button>
                    </form><!-- /.newsletter-form -->
                </div><!-- /.footer-widget -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="footer-bottom">
        <div class="container">
            <div class="copy-text pull-left">Sparta 3.8 Protection &copy; 2021
                All Right Reserved.</div><!-- /.copy-text -->
            <div class="footer-menu pull-right">
                <ul class="list-inline">
                    <li><a href="#">LIC: B3000022 </a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul><!-- /.list-inline -->
            </div><!-- /.footer-menu -->
        </div><!-- /.container -->
    </div><!-- /.footer-bottom -->
</footer><!-- /.footer -->