<section class="top-bar">
    <div class="container-fluid">
        <div class="contact-info pull-left">
            <a href="#"><i class="fa fa-envelope"></i> Edrickspartaproinc@gmail.com</a><!--
			--><!-- <a href="#"><i class="fa fa-globe"></i> leine Pierboulevard 8-6 2249 KV Vries</a> -->
        </div><!-- /.contact-info pull-left -->
        <div class="social pull-right">
            <a href="#" class="fa fa-facebook"></a><!--
			--><a href="#" class="fa fa-twitter"></a><!--
			--><a href="#" class="fa fa-vimeo"></a><!--
			--><a href="#" class="fa fa-pinterest"></a><!--
			--><a href="#" class="fa fa-google-plus"></a>
        </div><!-- /.social -->
    </div><!-- /.container-fulid -->
</section><!-- /.top-bar -->