.service-title-box {
	position: relative;
	background: #161827 url(../img/service-bg.jpg) center center no-repeat fixed;
	background-size: cover;
	padding: 142px 0;
	&:before {
		content: '';
		position: absolute;
		top:0;left:0;
		right: 0;
		bottom: 0;
		background:rgba(#161827,.6);
	}
	.container {position: relative;}
	.sec-title {margin-bottom: 0;
		h2 {color: #fff;}
	}
}

.single-service {
	&:hover {
		.img-box {
			&:before {
				opacity: 1;
			}
		}
		.text-box {
			h3 {color: #EA6654;}
		}
	}
	.img-box {
		position: relative;
		cursor: pointer;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left:0;
			right: 0;
			bottom: 0;
			background:rgba(#000,.6);
			opacity: 0;
			z-index: 9;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			transition: all .4s ease;
		}
		img {width: 100%;border-top-left-radius: 10px; border-top-right-radius: 10px;transition: all .4s ease;transform: scale(1);}
	}
	.text-box {
		background: #fff;
		padding-left: 40px;
		padding-right: 30px;
		padding-top: 35px;
		padding-bottom: 50px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: 0px 5px 61px -15px rgba(0, 0, 0, 0.1);
		h3, p {margin: 0;}
		h3 {font-family: 'Titillium Web';color: #182345;font-size: 24px;font-weight: 600;}
		p {font-size: 15px;margin-top: 20px;margin-bottom: 25px;}
		a.read-more {border: 2px solid #EA6654;width: 139px;height: 50px;line-height: 46px;display: inline-block;text-align: center;border-radius: 25px;color: #EA6654;font-weight: 600;font-size: 15px;transition: all .3s ease;
			&:hover {color: #fff;background:#EA6654;}
		}
	}
}

.service-area {
	padding-bottom: 150px;
	&.overlaped-top {margin-top: -80px;}
}

.service-page {
	padding-bottom: 70px;
	.single-service {margin-bottom: 50px;}
}

.service-details-page {
	.service-details-content {
		h3, h4, p, ul, li {margin: 0;padding: 0;list-style: none;}
		h3, h4 {color: #172245;font-family: 'Titillium Web';font-weight: 600;}
		h3 {font-size: 34px;}
		h4 {font-size: 24px;}
		ul.checklist {
			li {position: relative;padding-left: 20px;font-size: 15px;color: #182345;
				+ li {margin-top: 5px;}
				&:before {content: '';width: 6px;height: 6px;position: absolute;top: 50%;left: 0;transform: translateY(-50%);background:#EA6654;transition: all .4s ease;border-radius: 50%;}
			}
		}
	}
}